body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    background-color: rgb(134, 27, 27);
}

.body-img {
    margin-top: 70px;
}

h1 {
    background-color: rgb(85, 204, 204);
    color: #974869;
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
}
h3{
    font-size: x-large;
    margin-bottom: 10px;
    margin-top: 10px;
}

#apodContainer {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    max-width: 90%; /* Adjust as needed */
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: chocolate;
}

#error {
    color: red;
    margin-bottom: 10px;
}

button {
    padding: 8px 12px;
    background-color: rgb(85, 204, 204);
    color: white;
    border: none;
    cursor: pointer;
    transition: padding 0.3s;
}

img {
    margin-left: -10px;
    max-width: 100%; /* Make images responsive */
    height: auto;
}

button:hover {
    padding: 15px 20px;
    background-color: #974869;
    color: white;
    border: none;
    cursor: pointer;
}

.search-container {
    display: none;
    border: 1px solid;
    margin-top: 30px;
    padding: 30px;
}

.search-container h1 {
    margin-top: -10px;
}

input {
    padding: 8px 12px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px;
        gap: 2px;
    }
}
